
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

/*________________________________ */

/* General */
.cajamen {
    background-color: black;
    width: 100%;
    grid-area: cajamen;
}

.cajafoot {
    background-color: rgb(118, 122, 155);
    width: 100%;
    grid-area: cajafoot
}

.cajaizq {
    background-color: rgb(118, 122, 155);
    width: 100%;
    grid-area: cajaizq
}

.cajaderch {
    background-color: rgb(118, 122, 155);
    width: 100%;
    grid-area: cajaderch
}

li:hover {
    border: solid 2px grey;
}

.abajotexto {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 15px;
    margin: .7rem;
}

.mail {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.abajo {
    display: flex;
    justify-content: left;
}

.head {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    position: sticky;
    top: 0;
    left: 0;
}

nav {
    padding: 3rem;
}
footer{font-family: 'Mukta', sans-serif; }

body {
    font-family: 'Mukta', sans-serif;
    background-color: rgb(118, 122, 155);
  min-height: 100vh;
  align-items: center;
  justify-content: center;

}

.menusup {
    list-style-type: none;
    text-align: center;
    font-family:
        'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.menusup li {
    display: inline-block;
    padding: .5rem
}

.menusup a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    margin: .2rem;
}



/*________________________________ */

/* index */

.bienvenidos {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 35px;
    display: flex;
    justify-content: center;
    width: 100%;
}

video {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.primertexto {
    display: flex;
    text-align: center;
    width: 100%;
}

.ind1 {
    line-height: 1.5;
    flex-wrap: wrap;
    width: 100%;
}

/*GRID*/

.caja2_idxbien {
    position: relative;
    background-color: rgb(118, 122, 155);
    width: 100%;
    grid-area: caja2_idxbien
}
.caja3_idxvid{    position: relative;
    background-color: rgb(118, 122, 155);
    width: 100%;
    grid-area: caja3_idxvid }

.caja4_idxvid{position: relative;
    background-color: rgb(118, 122, 155);
    width: 100%;
    grid-area: caja4_idxvid}


.cajapadre_idx {
    display: grid;
    grid-template-areas:
        " cajamen cajamen cajamen "
        " cajaizq caja2_idxbien cajaderch "
        " cajaizq caja3_idxvid cajaderch "
        " cajaizq caja4_idxvid cajaderch "
        " cajafoot cajafoot cajafoot ";
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
}


/*________________________________ */


/* Quienes somos */

.rx_img {
    width: 100%;
}

/*GRID*/
.caja2_qs {
    background-color: rgb(118, 122, 155);
    width: 100%;
    grid-area: caja2_qs
}

.cajapadre_qs {
    display: grid;
    grid-template-areas:
        " cajamen cajamen cajamen "
        " cajaizq caja2_qs cajaderch "
        " cajaizq cajafoot cajaderch ";
    grid-template-rows: 100px 1fr 80px;
    grid-template-columns: 1% auto 1%;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    height: 100vh;
}


/*________________________________ */


/* Servicios */

.kali_img {
    width: 100%;
}

.op_img {
    width: 100%;
}

.an_img {
    width: 100%;
}

.estetica {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 4rem;
}

.kali {
    display: flex;
    justify-content: center;
}

.txestetica {
    display: flex;
    text-align: center;
}

.consulta{ display: flex;
    justify-content: center;}

.co_img{width: 100%;}

.consultas {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 4rem;
}

.operando {
    display: flex;
    justify-content: center;
}
.operaciones {display: flex;
    justify-content: center; font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 4rem;}

.txoperaciones { display: flex;
    text-align: center;}

.txconsultas {
    display: flex;
    text-align: center;
}

.estudios {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 4rem;
}

.analisis {
    display: flex;
    justify-content: center;
}

.txestudios {
    display: flex;
    text-align: center;
}

.rx {
    display: flex;
    justify-content: center;
}

/*GRID*/
.caja2_siz {
    background-color: rgb(118, 122, 155);
    width: 100%;
    grid-area: caja2_siz
}
.caja2_sder { background-color: rgb(118, 122, 155);
    width: 100%;
    grid-area: caja2_sder}

.caja3_siz {
    background-color: rgb(118, 122, 155);
    width: 100%;
    grid-area: caja3_siz
}
.caja3_sder {
    background-color: rgb(118, 122, 155);
    width: 100%;
    grid-area: caja3_sder
}
.caja4_siz {
    background-color: rgb(118, 122, 155);
    width: 100%;
    grid-area: caja4_siz
}
.caja4_sder {
    background-color: rgb(118, 122, 155);
    width: 100%;
    grid-area: caja4_sder
}
.caja5_siz {
    background-color: rgb(118, 122, 155);
    width: 100%;
    grid-area: caja5_siz
}
.caja5_sder {
    background-color: rgb(118, 122, 155);
    width: 100%;
    grid-area: caja5_sder
}



.cajapadre_s {
    display: grid;
    grid-template-areas:
        " cajamen  cajamen "
        " caja2_siz  caja2_sder "
        " caja3_siz caja3_sder "
        " caja4_siz caja4_sder "
        " caja5_siz caja5_sder "
        " cajafoot cajafoot ";
    grid-template-rows: repeat(6,auto);
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    height: 100vh;
}

@media (max-width: 750px)  {
    .cajapadre_s{
        grid-template-areas: 
        "cajamen"
        "caja2_siz"
        "caja2_sder"
        "caja3_sder"
        "caja3_siz"
        "caja4_siz"
        "caja4_sder"
        "caja5_sder"
        "caja5_siz"
        "cajafoot";
    }
}

/*________________________________ */



/* Contactanos */
.contacto {
    display: flex;
    justify-content: left;
}

.txformulario {
    display: flex;
    justify-content: center;
}

.formulario {
    display: flex;
    justify-content: center;
}

.mapa {
    display: flex;
    justify-content: center;
}

/*GRID*/
.caja2_co {
    background-color: rgb(118, 122, 155);
    width: 100%;
    grid-area: caja2_co
}

.caja3_co {
    background-color: rgb(118, 122, 155);
    width: 100%;
    grid-area: caja3_co
}

.caja4_co {
    background-color: rgb(118, 122, 155);
    width: 100%;
    grid-area: caja4_co
}

.cajapadre_co {
    display: grid;
    grid-template-areas:
        " cajamen cajamen cajamen "
        " cajaizq caja2_co cajaderch "
        " cajaizq caja3_co cajaderch "
        " cajaizq caja4_co cajaderch "
        " cajaizq cajafoot cajaderch ";
    grid-template-rows: auto;
    grid-template-columns: 1% auto 1%;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    height: 100vh;
}



/*________________________________ */



/* Casos clinicos */

.txcasosclinicos {
    display: flex;
    justify-content: center;
}

.instagram-media {
    display: flex;
    justify-content: center;
}
/*GRID*/
.caja2_cc {
    background-color: rgb(118, 122, 155);
    width: 100%;
    grid-area: caja2_cc
}

.cajapadre_cc {
    display: grid;
    grid-template-areas:
        " cajamen cajamen cajamen "
        " cajaizq caja2_cc cajaderch "
        " cajaizq cajafoot cajaderch ";
    grid-template-rows: 100px 1fr 80px;
    grid-template-columns: 1% auto 1%;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    height: 100vh;
}

